# Step1 : Conversion of input string to lowercase

In [2]:
input_string = "Hello 102 ? Students90 ., This is 50 < YOUR First > PRACTICAL = _ SessION 2001 () on $  786 ' TEXT MinINg"
result1 = input_string.lower()
print("Input String in Lowercase: ")
print("================================")
print(result1)

Input String in Lowercase:
================================
hello 102 ? students90 ., this is 50 < your first > practical = _ session 2001 () on $  786 ' text mining

#simple example

#newvariable = ov.lower()

In [21]:
ov = "  Hello? 100,Your* 30,First& 30"
newvariable = ov.lower()
print(newvariable)

  hello? 100,your* 30,first& 30

In [4]:
input_string = "Hello 102 ? Students90 ., This is 50 < YOUR First > PRACTICAL = _ SessION 2001 () on $  786 ' TEXT MinINg"
result1 = input_string.lower()
print(result1)

hello 102 ? students90 ., this is 50 < your first > practical = _ session 2001 () on $  786 ' text mining

# Step2: Removal of punctuations

In [5]:
import string
result2 = result1.translate(str.maketrans('','', string.punctuation))
print(result2)

hello 102  students90  this is 50  your first  practical   session 2001  on   786  text mining

In [10]:
#the first two arguments for string translate method is empty strings

In [22]:
#example
import string
v3=newvariable.translate(str.maketrans("","",string.punctuation))
print(v3)

  hello 100your 30first 30

In [9]:
import string
result2 = result1.translate(str.maketrans( '','',string.punctuation))
print(result2)

hello 102  students90  this is 50  your first  practical   session 2001  on   786  text mining

In [7]:
replace = ""
punctuation = string.punctuation
for char in result1:
    if char not in punctuation:
        replace = replace + char
print(replace)

hello 102  students90  this is 50  your first  practical   session 2001  on   786  text mining

# remove spaces

In [7]:
result3 = result2.strip()
print(result3)

hello 102  students90  this is 50  your first  practical   session 2001  on   786  text mining

In [23]:
#example
v4= v3.strip()
print(v4)

hello 100your 30first 30

In [8]:
demo = "                 SJCC      "
demo1 = demo.strip()
print(demo)
print(demo1)

                 SJCC
SJCC

# Step4: Removing Numbers

In [9]:
import re
result4 = re.sub(r'\d+', '', result3)
print(result4)

hello   students  this is   your first  practical   session   on     text mining

In [ ]:
#re = regular expression

In [24]:
#example
import re
v5 =re.sub(r'\d+','',v4)
print(v5)

hello your first

# Step5: Removing Stopwords

In [28]:
from nltk.corpus import stopwords
sw = set(stopwords.words('english'))
print(sw)

{'because', 'off', 'will', 'it', 'am', 'those', 'don', 'them', 'as', 'can', 'yourselves', "haven't", 'who', "didn't", 'my', "mightn't", 'between', 'here', 'in', 'ain', 'ma', 'below', 'until', 'these', 'now', 'from', 'through', 'couldn', "should've", 'ourselves', 'but', 'all', 'your', 'whom', "shan't", "that'll", "you'll", 'on', "doesn't", 'nor', "mustn't", 'of', 'shan', 'where', 'against', 'y', 'than', 'we', "wouldn't", 'his', 'theirs', 'do', 'or', 'not', 'with', "wasn't", 'isn', "couldn't", 'has', 'a', 'd', 'are', 'i', "you're", 'had', 'few', 'more', "aren't", 'doesn', "isn't", 'over', 'and', 're', 'won', 'only', 'yourself', 'been', 'itself', "weren't", 'was', 'down', 'just', 'her', 'their', 'doing', 'such', 't', 'll', 'its', 'hasn', 'both', 'into', 's', 'after', 'about', 'needn', 'he', 'if', 'some', 'ours', 'did', 'o', 'too', 'further', 'does', 've', 'himself', 'by', 'before', 'same', 'how', 'me', 'during', 'yours', 'herself', "you've", 'to', 'myself', 'wasn', 'very', 'themselves', 'hadn', 'above', 'that', 'have', "you'd", 'mustn', 'is', 'an', 'up', 'be', 'any', 'other', "she's", 'the', 'were', 'again', 'no', "needn't", "won't", 'at', 'why', "it's", 'should', 'having', 'under', 'then', "shouldn't", 'haven', 'while', 'wouldn', 'for', "hadn't", 'this', 'what', 'own', 'shouldn', 'him', 'when', 'being', 'didn', 'weren', 'which', 'once', 'so', 'they', 'most', 'm', 'hers', 'mightn', "don't", 'you', 'our', 'there', 'she', "hasn't", 'out', 'each', 'aren'}

In [11]:
print(len(sw))

179

In [12]:
from nltk.tokenize import word_tokenize
print("Input Text")
print(result4)

Input Text
hello   students  this is   your first  practical   session   on     text mining

In [29]:
#example
from nltk.tokenize import word_tokenize
print(v5)

hello your first

In [13]:
print("Output Tokens")
result4_tokens = word_tokenize(result4)
print(result4_tokens)

Output Tokens
['hello', 'students', 'this', 'is', 'your', 'first', 'practical', 'session', 'on', 'text', 'mining']

In [31]:
print("Output Tokens")
v6_tokens = word_tokenize(v5)
print(v6_tokens)

Output Tokens
['hello', 'your', 'first']

In [14]:
result5 = []
for w in result4_tokens:
    if w not in sw:
        result5.append(w)
print(result5)

['hello', 'students', 'first', 'practical', 'session', 'text', 'mining']

In [32]:
v7 = []
for w in v6_tokens:
    if w not in sw:
        v7.append(w)
print(v7)

['hello', 'first']